$primary: #181d27;
$secondary: #2f343d;

$btn: #5da399;
$btn-active: #347568;
$btn-hover: #7cc2b8;

$btn2: #ffd166;
$btn2-active: #fcc547;
$btn2-hover: #fadfa1;

$btn-inactive: #d4d4d4;

$input: #f1f7f3;

$incorrect: #f71010;
