// GRID CLASSESS //

.col-1{
  grid-column-start: 1;
}

.col-2{
  grid-column-start: 2;
}

.col-3{
  grid-column-start: 3;
}

.col-4{
  grid-column-start: 4;
}

.col-5{
  grid-column-start: 5;
}

.col-6{
  grid-column-start: 6;
}

.col-7{
  grid-column-start: 7;
}

.col-8{
  grid-column-start: 8;
}

.col-9{
  grid-column-start: 9;
}

.col-10{
  grid-column-start: 10;
}

.col-11{
  grid-column-start: 11;
}

.col-12{
  grid-column-start: 12;
}

.col-e-1{
  grid-column-end: 1;
}

.col-e-2{
  grid-column-end: 2;
}

.col-e-3{
  grid-column-end: 3;
}

.col-e-4{
  grid-column-end: 4;
}

.col-e-5{
  grid-column-end: 5;
}

.col-e-6{
  grid-column-end: 6;
}

.col-e-7{
  grid-column-end: 7;
}

.col-e-8{
  grid-column-end: 8;
}

.col-e-9{
  grid-column-end: 9;
}

.col-e-10{
  grid-column-end: 10;
}

.col-e-11{
  grid-column-end: 11;
}

.col-e-12{
  grid-column-end: 12;
}

