@use "globalVariables";
@import "../styles.scss";

form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 65px 0px;

  input,
  button {
    width: 75%;
    margin-bottom: 20px;
  }

  .btn-submit {
    background-color: globalVariables.$primary-color;
  }

  p span {
    color: globalVariables.$primary-color;
    font-weight: bold;
    cursor: pointer;
  }
}
