@import "style/.grid";

$primary-color: #47a025;
$input-color: #f7f7f2;
$b1-color: #222725;
$b2-color: #171b19;

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  color: $input-color;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 140px));
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100%;
  min-height: 100vh;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

app-root{
  display: block;
  min-height: 100vh;
  height: 100%;
}

body {
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

input {
  height: 70px;
  display: block;
  border: 0;
  border-radius: 35px;
  background-color: $input-color;
  color: rgba($b2-color, 0.4);
  font-size: 16px;
  padding-left: 5%;
}

input:focus {
  border: 0;
  outline: 0;
}

button {
  border: 0;
  height: 70px;
  font-size: 16px;
  border-radius: 35px;
  cursor: pointer;
}

button:focus {
  border: 0;
  outline: 0;
}
