@use "../../style/globalVariables";

.siteName{
  width: 80%;
  text-align: center;
  align-self: end;
}

.form {
  align-self: start;
  width: 80%;
  border-radius: 90px;
  border: 2px solid globalVariables.$input;
  margin-bottom: 10px;
}





