<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input id="email" type="email" name="emailAddress" ngModel placeholder="Email">
    <input id="userName" name="userName" ngModel placeholder="Nazwa użytkownika">
    <input id="password" type="password" name="password" ngModel placeholder="Hasło">
    <input id="passwordRpt" type="password" name="passwordRpt" ngModel placeholder="Powtórz hasło">
    <button class="btn-submit">Zarejestruj</button>
    <p>Masz już konto? <span (click)="changeForm()">Zaloguj się</span></p>
  </form>
